version: 2.1

workflows:
  pull-request-workflow:
    jobs:
      - pull-request-check:
          filters:
            branches:
              ignore:
                - main
  main-branch-workflow:
    jobs:
      - main-branch-check:
          filters:
            branches:
              only:
                - main

jobs:
  pull-request-check:
    docker:
      - image: vsaglib/vsag:ubuntu
    resource_class: medium+
    steps:
      - checkout
      - run: ./scripts/check_format.sh
      - restore_cache:
          keys:
            - fork-cache-{{ checksum "CMakeLists.txt" }}-{{ checksum ".circleci/fresh_ci_cache.commit" }}
      - run: make asan
      - save_cache:
          key: fork-cache-{{ checksum "CMakeLists.txt" }}-{{ checksum ".circleci/fresh_ci_cache.commit" }}
          paths:
            - ./build
      - run: make test_asan_parallel

  main-branch-check:
    docker:
      - image: vsaglib/vsag:ubuntu
    resource_class: medium+
    steps:
      - checkout
      - run: ./scripts/check_format.sh
      - restore_cache:
          keys:
            - main-ccache-{{ checksum "CMakeLists.txt" }}-{{ checksum ".circleci/fresh_ci_cache.commit" }}
      - run: make asan
      - save_cache:
          key: main-ccache-{{ checksum "CMakeLists.txt" }}-{{ checksum ".circleci/fresh_ci_cache.commit" }}
          paths:
            - ./build
      - run: make test_asan_parallel
